.markdown {
  width: min(100%, 56rem);
  padding: var(--padding-lg);
}

.markdown h1, .markdown h2 {
  margin-top: 2.5rem;
  margin-bottom: var(--padding-lg);
  font-weight: bold;
}

.markdown h1 {
color: #fff;
font-size: var(--font-size-big);
}

.markdown h2 {
  font-size: 1.8rem;
  color: #E7CD49;
}

.markdown h3 {
  font-size: 1.4rem;
  font-weight: normal;
}