.sidebar {
  background-color: var(--background-primary);
  padding: var(--padding-lg);
  height: 100vh;
}

.sidebar .title {
  color: var(--text-secondary);
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar nav h3 {
  margin: 0;
  padding: 0.4rem 0;
}

.sidebar a {
  display: inline-block;
  color: var(--text-primary);
  padding: 0.4rem;
  width: 100%;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a.selected {
  font-weight: bold;
  background-color: #413f68;
  border-radius: 0.5rem;
}

/* Sidebar overlay */
.collapse-sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
}